# Ignore log files
**/*.log
**/*.out

# Ignore the build directory
**/logfiles/
**/results/
**/*result/
**/IGeS_profiling_result/
**/04_immuneSig_survival/
**/softwares/
*/analysis/07_plotting/scripts/old_script
/analysis/06_results_summaryandplotting/scripts/old_scripts
